h1 {
	color: black;
	display: block;
	margin: 60;
	text-align: center;
}

h2 {
	color: #333333;
	text-align: center;
}

h3 {
	color: #525255;
}

body {
	background-image: url(https://stmed.net/sites/default/files/ori-and-the-blind-forest-hd-wallpapers-33462-4640174.jpg);
	background-repeat: no-repeat;
	background-position: center;
 	background-attachment: fixed;
	background-size: cover;
}

/*
Warframe gif url(https://i.redd.it/56cit74znev01.gif);
Ori background url(https://images.alphacoders.com/545/thumb-1920-545454.jpg);
Ori background 2 url(https://stmed.net/sites/default/files/ori-and-the-blind-forest-hd-wallpapers-33462-4640174.jpg);
*/

p {
	color: black;
	text-align: left;
}

a {
	background-color: grey;
	color: black;
	box-sizing: 20
}

a:hover{
	background-color: black
	color: white;
}

b{
	color: white;
}

ol {
	list-style-type: none;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
	background-color: grey;
}

li a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 6px;
	color: black;
	float: right;
}

li a:hover {
	color: white;
	background-color: black;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: white;
	float: left;
}

.floatrightimg {
	float:right;
	width:200px;
	height:200px;
	background-color:grey;
	text-align:center;
}

.floatleftimg {
	float:left;
	width:200px;
	height:200px;
	background-color:grey;
	text-align:center;
}

.centerthingy{
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
	background-color: grey;
	text-align:center;
}

.randomlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
	background-color: none;
}
