h3 {
font-size: 70;
color: darkviolet;
text-align: center;
}

body {
background-image: url(https://i.redd.it/56cit74znev01.gif)
}

p {
color: white;
text-align: center;
}

a {
background-color: black;
color: white;
box-sizing: 20
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	text-align center;
	text-decoration: none;
	padding: 6px;
	color: black;
	background-color: grey;	
}
li a:hover {
	color: white;
	background-color: black;
}
